
bin/
obj/
*.user
*.suo
.vs/
.vscode/
.idea/
*.sln.DotSettings.user
appsettings.Development.json
appsettings.*.local.json
secrets.json
.editorconfig
migrations/
Migrations/
.DS_Store
.AppleDouble
.LSOverride
rapport
*.log
[Pp]ackages/
MockProductService.cs
*.tmp
*.bak
